/*/ navbar */

.nav {
  height: 50px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: green;
}
.centered-list {
  list-style-type: none;
  padding: 0;
  display: block;
  align-items: center;
}

.active-li {
  color: green;
}

.centered-list li {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
}

.nav-icon img {
  width: fit-content;
  height: 30px;
  object-fit: contain;
}

.nav-icon {
  align-self: center;
}
/*/ header */

.header {
  background-image: url(./assets/images/image1.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 480px;
  width: 100vw;
  position: relative;
}
.header-title {
  position: absolute;
  border-radius: 12px;
  height: 300px;
  width: 450px;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 12px;
}

.header-background {
  padding: 24px;
}

.btn-title {
  width: fit-content;
  color: white;
  border-radius: 0;
  border: none;
  margin-left: 5px;
  font-weight: 600;
  padding: 8px 24px;
}

.groups img {
  object-fit: contain;
  width: 100%;
  height: 200px;
  border-radius: 12px;
}

.groups a {
  padding: 12px;
  text-decoration: none;
  color: black;
}

/* product */

.product {
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product img {
  width: 100%;
  object-fit: fill;
  height: 190px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* viewProducts */
.view-contact img {
  object-fit: contain;
  width: 100%;
}

.btn-preview {
  border-radius: 8px;
  color: black;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 3.5px 8px;
  text-decoration: none;
  color: white;
  background-color: black;
  transition: all 0.5s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.btn-preview:hover {
  color: black;
  background-color: white;
}

.product-detail {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.location-url {
  background-color: rgb(20, 238, 13);
  color: withe;
}

.thumbs img {
  height: 400px;
}

.colors {
  border-radius: 50%;
}

.colors:empty {
  height: 20px !important;
  width: 20px !important;
  background: lime;
  cursor: pointer;
}
.size {
  background-color: rgba(128, 128, 128, 0.568);
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.size:hover {
  background-color: wheat;
  color: black;
}

.swiper-slide {
  height: fit-content;
}

.watch-slides-progress img {
  height: 100px;
  cursor: pointer;
}

.myswiper .swiper-slide-thumb-active {
  opacity: 1 !important;
  filter: drop-shadow(5px 2px 2px rgb(4, 247, 44));
}

.myswiper .watch-slides-progress {
  opacity: 0.4;
}

.header-page {
  background-image: url(assets/images/shoppage.png);
  height: 45vh;
  background-position: bottom;
  background-size: cover;
  text-align: center;
}

.best-img-product {
  object-fit: contain;
  width: 100%;
  height: 350px;
}

.btn-see {
  position: absolute;
  top: 60%;
  opacity: 0.5;
  left: 15%;
  right: 10%;

  width: fit-content;
}
.btn-see:hover {
  opacity: 1;
  color: white;
  background-color: firebrick;
}

.discount-product {
  position: absolute;
  top: 5%;
  color: white;
  opacity: 0.8;
  right: 10%;
  background-color: green;
  padding: 8px;
  border-radius: 50%;
}

.login-img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 0;
  margin: 0;
}
.card-login {
  margin-top: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(17, 17, 17, 0.08) 0px 1px 0px inset;
}

.card-login {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.login {
  height: 100vh;
}
.card-login input {
  width: 100%;
}

.card-login button {
  border-radius: 8px;
  border: none;
  color: white;
  padding: 8px;
  opacity: 0.8;
  background-color: gray;
  width: 100%;
  transition: all 0.2s ease;
}

.card-login button:hover {
  opacity: 1;
}
